<main class="container-fluid mb-5">
  <h2 class="text-center h2 mt-4 mb-4">Actualizar: {{product.title}}</h2>
  <div class="row justify-content-center">
    <article class="col-md-6 mt-mobile">
      <form class="row g-3" id="editProductForm">
        <div class="col-12">
          <label for="description" class="form-label">Descripcion</label>
          <input
            name="description"
            type="text"
            class="form-control"
            value="{{product.description}}"
          />
        </div>
        <div class="col-12">
          <label for="category" class="form-label">Categoria</label>
          <input
            name="category"
            type="text"
            class="form-control"
            value="{{product.category}}"
          />
        </div>
        <div class="col-12">
          <label for="price" class="form-label">Precio</label>
          <input name="price" type="number" min="0" value="{{product.price}}" />
          <label for="stock" class="form-label">Stock</label>
          <input name="stock" type="number" min="0" value="{{product.stock}}" />
        </div>
        <input type="hidden" name="pid" value="{{product._id}}" />
        <div class="col-12">
          <button type="submit" class="btn btn-primary">
            Enviar Formulario
          </button>
        </div>
      </form>
    </article>
  </div>
</main>
<script src="/js/editProduct.js"></script>